.main{
    width: 40%;
    box-shadow: 2px 2px 10px silver;
    margin-top: 50px;
    padding: 10px;
}
.h1{
    font-family: "Cairo", sans-serif;
}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: #0c8458;
    cursor: pointer;
    font-family: "Cairo", sans-serif;
    margin-bottom: 15px;
}
label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(32, 12, 150);
    font-family: "Cairo", sans-serif;
    color: azure;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    color: darkkhaki;
    font-weight: bold;

}